<html>
<head>
	<title> Add Tweet </title>
		<style type="text/css">
		body {
			background-color: #778899;

		}
		.titulo{
		font-family: "Tahoma";
		font-size: 25px;
		font-weight: bold;
		color: #006400;
		text-align: center;
				
		}
	</style>
</head>
<body>
<br/>
<table border="0" align="center">    
<tr> <td height="150"></td> </tr>
	<tr>
	<tr></tr>
     	<td class="titulo"> Add Tweet </td>
	</tr>
	<tr> <td height="15"></td> </tr>
	<tr><td>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit"/>
	</form>
	</td></tr>
	</table>
		    <div><br/>
	<a href="{% url home %}" >Home</a></div>
</body>
</html>